<div class="cart-container">
  <h2>Shopping Cart</h2>
  <% if @cart.length == 0  %>
  <div class="cart-empty">
    <p>Your cart is currently empty.</p>
    <div class="start-shopping">
      <%= link_to products_path do %>
        <i class="bi bi-arrow-left" aria-hidden="true"></i>
        <span>Start shopping</span>
      <% end %>
    </div>
  </div>
  <% else %>
    <div class="titles">
      <h3 class="product-title">Product</h3>
      <h3 class="price">Price</h3>
      <h3 class="quantity">Quantity</h3>
      <h3 class="total">Total</h3>
    </div>
      <div class="products">
          <%= @carts.map do |product| %>
          <div class="product">
            <h3><%= product["name"] %></h3>
              <% if product["photo"] %>
                  <%= cl_image_tag product.photo.key %>
              <% end %>
              <div>
                <span class="details"><%= product["description"] %></span>
                <span class="price">Price: $<%= product["price"] %></span>
                <%= link_to "remove", products_path, method: :delete %>
              </div>

          </div>
          <% end %>
      </div>
  <% end %>

</div>
