<div>
  <h2>New Arrival</h2>
  <div class="products">
    <% @products.each do |product| %>
      <h3><%= product.name %></h3>
      <%= image_tag "Denim_shirt.jpg", :class=> "medium-logo", width: 100 %>
    <div>
      <span><%= product.description %></span>
      <span class="price">Price: $<%= product.price %></span>
    </div>

    <%=  link_to "Add To Cart", new_order_path %>
    <% end %>
  </div>
</div>
