<div class="home-container">
  <h2>New Arrival</h2>
  <p>You have visited this site <%= pluralize @visit_count, "times" %></p>
  <div class="products">
    <% @products.each do |product| %>
      <h3><%= product.name %></h3>
      <% if product.photo.attached? %>
        <%= cl_image_tag product.photo.key, :class=> "medium-logo", width: 100 %>
      <% end %>
    <div>
      <span><%= product.description %></span>
      <span class="price">Price: $<%= product.price %></span>
    </div>

    <%=  link_to "Add To Cart", new_order_path %>
    <% end %>
  </div>
</div>
