<div class="home-container">
    <details>
      <summary>Shopping cart</summary>
      <ul>
        <% @products.each do |product| %>
            <li><%= product.name %> - <p><%=  link_to "Remove", remove_from_cart_path(product), method: :delete %></p></li>
          <% end %>
      </ul>

    </details>
  <h2>All Product</h2>
  <p>You have visited this site <%= pluralize @visit_count, "times" %></p>
  <div class="products">
    <% @products.each do |product| %>
      <div class="product">
        <h3><%= product.name %></h3>
        <% if product.photo.attached? %>
          <%= cl_image_tag product.photo.key %>
        <% end %>
        <div>
          <span class="details"><%= product.description %></span>
          <span class="price">Price: $<%= product.price %></span>
        </div>
        <% if @cart.include?(product) %>
          <button><%= link_to "Remove", remove_from_cart_path(product), method: :delete %></button>
        <% else %>
          <button><%=  link_to "Add To Cart", add_to_cart_path(product), method: :post %></button>
        <% end %>
      </div>

      <% end %>
  </div>
</div>
