<div class="home-container">
<h2>Shooping cart</h2>
    <%= @count %>
  <h2>New Arrival</h2>
  <p>You have visited this site <%= pluralize @visit_count, "times" %></p>
  <div class="products">
    <% @products.each do |product| %>
      <div class="product">
        <h3><%= product.name %></h3>
        <% if product.photo.attached? %>
          <%= cl_image_tag product.photo.key %>
        <% end %>
        <div>
          <span class="details"><%= product.description %></span>
          <span class="price">Price: $<%= product.price %></span>
        </div>
        <button><%=  link_to "Add To Cart", new_product_path, method: :get%></button>
      </div>

      <% end %>
  </div>
</div>
